stages:
    - tox
    - slurm
    - upload
    - deploy

intellinux:
    stage: tox
    allow_failure: true
    tags:
    - slurm
    only:
    - master
    - dev
    variables:
        PYTEST_ADDOPTS: "--color=yes --tb=short --verbose"
        GIT_FETCH_EXTRA_FLAGS: --tags
        NO_SLURM: "true"
    script:
    - source /opt/conda/etc/profile.d/conda.sh
    - conda env update -f syncopy.yml --prune
    - conda activate syncopy
    - tox

powerlinux:
    stage: tox
    allow_failure: true
    tags:
    - power
    only:
    - master
    - dev
    variables:
        PYTEST_ADDOPTS: "--color=yes --tb=short --verbose"
        GIT_FETCH_EXTRA_FLAGS: --tags
    script:
    - source /opt/conda/etc/profile.d/conda.sh
    - conda env update -f syncopy.yml --prune
    - conda activate syncopy
    - tox -p 0

intelwin:
    stage: tox
    allow_failure: true
    tags:
    - windows10
    only:
    - master
    - dev
    variables:
        PYTEST_ADDOPTS: "--color=yes --tb=short --verbose"
        GIT_FETCH_EXTRA_FLAGS: --tags
    script:
    - conda env update -f syncopy.yml --prune
    - conda.bat activate syncopy
    - tox

slurmtest:
    stage: slurm
    allow_failure: true
    tags:
    - slurm
    only:
    - master
    - dev
    variables:
        PYTEST_ADDOPTS: "--color=yes --tb=short --verbose"
        GIT_FETCH_EXTRA_FLAGS: --tags
    script:
    - source /opt/conda/etc/profile.d/conda.sh
    - conda env update -f syncopy.yml --prune
    - conda activate syncopy
    - export PYTHONPATH=$CI_PROJECT_DIR
    - srun -p DEV --mem=8000m -c 4 pytest

pypitest:
    stage: upload
    only:
    - master
    - tags
    tags:
    - deploy
    variables:
        GIT_FETCH_EXTRA_FLAGS: --tags
    script:
    - source $HOME/miniconda/etc/profile.d/conda.sh
    - conda update --yes conda
    - conda env update -f syncopy.yml --prune
    - conda activate syncopy
    - conda install --yes twine keyring rfc3986
    - conda update --yes twine keyring rfc3986
    - python setup.py sdist bdist_wheel
    - tarname="$(basename -- $(ls dist/*.tar.gz) .tar.gz)"
    - version=$(sed -e 's/esi-syncopy-\(.*\)/\1/' <<< "$tarname")
    - twine upload --repository testpypi --config-file=~/.esipypirc dist/*
    - conda create --yes --name piptest python=3.8
    - conda activate piptest
    - conda install --yes pip
    - pip --no-cache-dir install --extra-index-url https://test.pypi.org/simple esi-syncopy==$version
    - python -c "import syncopy as spy"
    - conda deactivate
    - conda remove --yes --name piptest --all

pypideploy:
    stage: deploy
    when: manual
    only:
    - tags
    tags:
    - deploy
    variables:
        GIT_FETCH_EXTRA_FLAGS: --tags
    script:
    - source $HOME/miniconda/etc/profile.d/conda.sh
    - conda update --yes conda
    - conda env update -f syncopy.yml --prune
    - conda activate syncopy
    - conda install --yes twine keyring rfc3986
    - conda update --yes twine keyring rfc3986
    - python setup.py sdist bdist_wheel
    - twine upload --config-file=~/.esipypirc dist/*
