# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# HTML documentation
doc/build
doc/source/_stubs

# For projects that use Waf for building: http://code.google.com/p/waf/
.waf-*
.lock-*

# sfft /build directory
sfft/build
sfft/doc/_build

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
